<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316932598934-l671l3p1703qf5tfmslktk9ktco8d5nv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316932598934-l671l3p1703qf5tfmslktk9ktco8d5nv</string>
	<key>API_KEY</key>
	<string>AIzaSyDoLanKoExGnbeoTuqE75K2-2KKPYQsHiI</string>
	<key>GCM_SENDER_ID</key>
	<string>316932598934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.MyClassifiedApp</string>
	<key>PROJECT_ID</key>
	<string>myclassfiedapp</string>
	<key>STORAGE_BUCKET</key>
	<string>myclassfiedapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316932598934:ios:37196e627120cc865066b7</string>
	<key>DATABASE_URL</key>
	<string>https://myclassfiedapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>